:ROOT {
    --mainfont: "AbramoSerif", sans-serif;
    --secondfont: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--secondfont);
}


/* BACKGROUND */
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 0;
    /* BACKGROUND IMAGE MOVEMENT */
    background-image: url("../images/background-img.png");
    background-size: 100%;
    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
}

#background #div-one {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #EEEEFF;
    z-index: 5;
    opacity: 0;
    animation: fadeOutOne 5s;
    -webkit-animation: fadeOutOne 5s;
    -moz-animation: fadeOutOne 5s;
    -o-animation: fadeOutOne 5s;
    -ms-animation: fadeOutOne 5s;
}

@keyframes fadeOutOne {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

#background #div-two {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E2ECFF;
    z-index: 6;
    opacity: 0;
    animation: fadeOutTwo 7s;
    -webkit-animation: fadeOutTwo 7s;
    -moz-animation: fadeOutTwo 7s;
    -o-animation: fadeOutTwo 7s;
    -ms-animation: fadeOutTwo 7s;
}

@keyframes fadeOutTwo {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* NAVIGATION */
#navigation {
    position: fixed;
    width: 100%;
    height: 40%;
    top: 30%;
    left: 0;
    text-align: center;
    z-index: 100;
}

#navigation h1 {
    margin: auto;
    font-family: var(--mainfont);
    font-weight: 100;
    font-size: 150px;
    user-select: none;
}

#navigation p {
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0 10px 0;
    text-shadow: 3px 3px whitesmoke;
    user-select: none;
}

#navigation ul {
    margin-top: 30px;
    padding: 0;
}

#navigation ul li {
    padding: 0 15px;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    display: inline;
}

#navigation ul li, #navigation ul li a{
    font-size: 12px;
    font-style: normal;
    color: black;
    text-decoration: none;
}

#navigation ul li a:hover{
    font-style: italic;
    color: white;
}

#navigation #scroll {
    font-size: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50px;
}

/* SCROLLING CARDS */
.cards {
    position: absolute;
    text-align: center;
    width: 60%;
    left: 20%;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 249, 222, .95);
    box-shadow: 10px 10px black;
    z-index: 200;
}

.cards h3 {
    margin: 20px 0 20px 0;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 3px 3px whitesmoke;
}

.cards p {
    text-align: justify;
    line-height: 20px;
}

.cards ul {
    text-align: left;
}

.cards ul li {
    margin: 10px 0;
}

#card-about {
    position: absolute;
    width: 50%;
    height: auto;
    left: 25%;
    top: 1000px;
    padding: 25px;
    z-index: 500;
}

#card-about #photo-jess{
    max-width: 30%;
    border: 6px solid black;
    border-radius: 50%;
}

#card-about #photo-jess:hover {
    cursor: url(../images/cursor-hi.png), pointer;
}

#card-about p a {
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#card-about p a:hover {
    color: white;
}

#card-one {
    top: 2000px;
}

#card-two {
    top: 3000px;
}

#card-three {
    top: 4000px;
}

#card-four {
    top: 5000px;
}

#card-five {
    top: 6000px;
}

#empty {
    position: absolute;
    top: 6425px;
    width: 100px;
    height: 100px;
    opacity: 0;
}

/* LETTERING SHINE */
.btn-shine {
    background: linear-gradient(to right, black 0, #E2ECFF 10%, #EEEEFF 10%, black 30%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
  }
  @-moz-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }
  @-webkit-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }
  @-o-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }

/* MOBILE PHONE */

    @media screen and (max-width: 768px) {

        body {
            background-color: #E2ECFF;
        }

        #background {
            display: none;
        }

        #navigation {
            top: 10%;
            width: 100%;
            left: 0;
        }

        #navigation h1 {
            padding: 25px 0;
            font-weight: 500;
            font-size: 115px;
            line-height: 95px;
        }
        
        #navigation p {
            padding: 0 25px;
            font-size: 28px;
            font-style: normal;
            letter-spacing: 5px;
            line-height: 40px;
        }
        
        #navigation ul {
            position: fixed;
            top: 0;
            margin-top: 0;
            padding: 10px 0;
            width: 100%;
            background-color: black;
        }

        #navigation ul li:first-child{
            display: none;
          }

        #navigation ul li:last-child{
            display: none;
        }
        
        #navigation ul li {
            padding: 5px 10px;
        }
        
        #navigation ul li, #navigation ul li a{
            font-size: 14px;
            color: white;
        }

        .cards, #card-about {
            width: 80%;
            left: 4%;
            padding: 5%;
        }
        
        #card-about #photo-jess{
            max-width: 50%;
        }

        .cards h3:last-child {
            font-size: 10px;
            line-height: 15px;
        }

        #card-one {
            top: 2000px;
        }
        
        #card-two {
            top: 3550px;
        }
        
        #card-three {
            top: 5100px;
        }
        
        #card-four {
            top: 6200px;
        }
        
        #card-five {
            top: 6900px;
        }

        #empty {
            top: 7300px;
        }

        .btn-shine {
            background: linear-gradient(to right, black 0, #E2ECFF 10%, #EEEEFF 10%, black 30%);
            background-position: 0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 4s linear;
            animation-fill-mode: forwards;
            -webkit-text-size-adjust: none;
        }

        @-moz-keyframes shine {
            0% {
              background-position: 0;
            }
            60% {
              background-position: 420px;
            }
            100% {
              background-position: 420px;
            }
          }
          @-webkit-keyframes shine {
            0% {
              background-position: 0;
            }
            60% {
              background-position: 420px;
            }
            100% {
              background-position: 420px;
            }
          }
          @-o-keyframes shine {
            0% {
              background-position: 0;
            }
            60% {
              background-position: 420px;
            }
            100% {
              background-position: 420px;
            }
          }
          @keyframes shine {
            0% {
              background-position: 0;
            }
            60% {
              background-position: 420px;
            }
            100% {
              background-position: 420px;
            }
          }

    }