:ROOT {
    --mainfont: "AbramoSerif", sans-serif;
    --secondfont: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--secondfont);
}


/* BACKGROUND */
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 0;
    /* BACKGROUND IMAGE MOVEMENT */
    background-image: url("../images/background-img.png");
    background-size: 100%;
    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
}

#background #div-one {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #EEEEFF;
    z-index: 5;
    opacity: 0;
    animation: fadeOutOne 5s;
    -webkit-animation: fadeOutOne 5s;
    -moz-animation: fadeOutOne 5s;
    -o-animation: fadeOutOne 5s;
    -ms-animation: fadeOutOne 5s;
}

@keyframes fadeOutOne {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

#background #div-two {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E2ECFF;
    z-index: 6;
    opacity: 0;
    animation: fadeOutTwo 7s;
    -webkit-animation: fadeOutTwo 7s;
    -moz-animation: fadeOutTwo 7s;
    -o-animation: fadeOutTwo 7s;
    -ms-animation: fadeOutTwo 7s;
}

@keyframes fadeOutTwo {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* MOBILE PAGE */
#mobile-page {
    display: none;
}

/* NAVIGATION */
#navigation {
    position: fixed;
    width: 100%;
    height: 40%;
    top: 30%;
    left: 0;
    text-align: center;
    z-index: 100;
}

#navigation h1 {
    margin: auto;
    font-family: var(--mainfont);
    font-weight: 100;
    font-size: 150px;
    user-select: none;
}

#navigation p {
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0 10px 0;
    text-shadow: 3px 3px whitesmoke;
    user-select: none;
}

#navigation ul {
    padding: 0;
}

#navigation ul li {
    padding: 0 5px;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    display: inline;
}

#navigation ul li a{
    font-size: 12px;
    font-style: normal;
    color: black;
    text-decoration: none;
}

#navigation ul li a:hover{
    font-style: italic;
    color: white;
}

#navigation #scroll {
    font-size: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50px;
}

/* TEXT INTRO */
#text-intro {
    position: absolute;
    top: 2000px;
    width: 35%;
    left: 32.5%;
    padding: 10px 0 5px 0;
    text-align: center;
    background-color: rgba(255, 249, 222, .95);
    box-shadow: 10px 10px black;
    z-index: 200;
    user-select: none;
}

#text-goodbye {
    position: absolute;
    top: 8000px;
    width: 35%;
    left: 32.5%;
    padding: 0 0 5px 0;
    text-align: center;
    background-color: rgba(255, 249, 222, .95);
    box-shadow: 10px 10px black;
    z-index: 200;
    user-select: none;
}

#empty {
    position: absolute;
    top: 8300px;
    width: 100px;
    height: 100px;
    opacity: 0;
}


/* ALL CARDS */
.cards {
    position: absolute;
    text-align: center;
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: rgba(255, 249, 222, .95);
    box-shadow: 10px 10px black;
    z-index: 200;
}

.cards h3, #text-intro h3, #text-goodbye h3 {
    margin: 20px 0 20px 0;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 3px 3px whitesmoke;
}

.cards h6 {
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 20px;
}

.cards img {
    margin-top: 20px;
    max-width: 300px;
    user-select: none;
}

.cards ul {
    padding: 0;
}

.cards li {
    list-style: none;
    display: inline;
    padding: 0 7px;
}

.cards li a {
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.cards li a:hover {
    color: white;
    font-style: italic;
}

.cards p {
    text-align: justify;
    line-height: 20px;
}

/* INDIVIDUAL CARDS */
#card-about {
    position: absolute;
    width: 50%;
    height: auto;
    left: 25%;
    top: 1000px;
    padding: 25px;
    z-index: 500;
}

#card-about #photo-jess, #card-about #photo-charlie{
    max-width: 25%;
    border: 6px solid black;
    border-radius: 50%;
}

#card-about #photo-charlie {
    display: none;
}

#card-about #photo-jess:hover {
    cursor: url(../images/cursor-hi.png), pointer;
}

#card-one {
    top: 3000px;
    left: 13%;
}

#card-two {
    top: 4000px;
    left: 45%;
}

#card-three {
    top: 5000px;
    right: 5%;
}

#card-four {
    top: 6000px;
    left: 9%;
}

#card-five {
    top: 7000px;
    left: 31%;
}

/* INDIVIDUAL WORK PAGES */
#indv-nav {
    border: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: right;
    background-color: black;
    z-index: 500;
}

#indv-nav ul {
    padding: 0 25px 0 0;
    margin: 5px;
}

#indv-nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline;
    padding: 0 10px;
    list-style: none;
}

#indv-nav ul li a {
    color: white;
    text-decoration: none;
}

#indv-nav ul li a:hover{
    font-style: italic;
}

#indv-work {
    position: absolute;
    width: 80%;
    height: contain;
    top: 5%;
    left: 10%;
    text-align: center;
    z-index: 100;
}

#indv-work h2 {
    margin: 60px 0 30px 0;
    font-size: 75px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 6px 6px whitesmoke;
    letter-spacing: 3px;
}

#indv-work h4 {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
}

#indv-work h6 a {
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    display: none;
}

#indv-work h6 a:hover {
    color: white;
    font-style: normal;
}

#indv-work #indv-text {
    width: 60%;
    margin: auto;
    text-align: justify;
    line-height: 20px;
}

#indv-work #indv-photos{
    width: 60%;
    margin: auto;
}

#indv-work #indv-photos img {
    width: 100%;
    margin-top: 25px;
}

#indv-work #indiv-photos iframe {
    width: 100%;
    margin-top: 25px !important;
}

/* MOBILE PHONE */

    @media screen and (max-width: 768px) {

        #background, #navigation, .cards, #text-intro, #text-goodbye, #empty {
            display: none;
        }
        
        #mobile-page {
            display: inline;
            position: fixed;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            z-index: 1000;
        }

        #mobile-background {
            position: fixed;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            right: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            z-index: 1001;
        }

        #mobile-content {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5% 5%;
            font-family: var(--secondfont);
            font-size: 40px;
            color: black;
            z-index: 1002;
        }

        #mobile-menu {
            position: fixed;
            width: 100%;
            height: 50px;
            top: 0;
            right: 0;
            text-align: center;
            background-color: black;
            z-index: 1003;
        }

        #mobile-menu button {
            margin-top: 14px;
            font-family: var(--secondfont);
            font-size: 25px;
            text-transform: uppercase;
            text-align: center;
            color: white;
            background: black;
            border: none;
        }

        #mobile-menu #mobile-main-nav {
            display: none;
            position: fixed;
            width: 100%;
            top: 0;
            margin: 0;
            padding: 0 0 20px 0;
            background-color: black;
            z-index: 1005;
        }

        #mobile-menu #mobile-main-nav .mobile-secondary-nav {
            margin: 20px 0 0 0;
            padding: 0;
        }

        #mobile-menu ul li {
            padding: 20px;
        }

        #mobile-menu ul li a {
            font-size: 25px;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }

        #mobile-menu #mobile-main-nav .mobile-secondary-nav a {
            font-size: 16px;
            font-style: italic;
            letter-spacing: 2px;
        }

        #mobile-menu #mobile-main-nav #mobile-portfolio-nav, #mobile-menu #mobile-main-nav #mobile-social-nav {
            display: none;
        }

    }

/* LETTERING SHINE */
.btn-shine {
    background: linear-gradient(to right, black 0, #E2ECFF 10%, #EEEEFF 10%, black 30%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
  }
  @-moz-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }
  @-webkit-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }
  @-o-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 1280px;
    }
    100% {
      background-position: 1280px;
    }
  }