:ROOT {
    --mainfont: "AbramoSerif", sans-serif;
    --secondfont: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--secondfont);
}


/* BACKGROUND */
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#background img{
    min-width: 100%;
    min-height: 100%
}


/* NAVIGATION */
#navigation {
    position: fixed;
    width: 100%;
    height: 50%;
    top: 25%;
    left: 0;
    text-align: center;
    z-index: 100;
}

#navigation h1{
    margin: auto;
    font-family: var(--mainfont);
    font-weight: 100;
    font-size: 150px;
}

#navigation p {
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px whitesmoke;
    letter-spacing: 3px;
    margin: 10px 0 10px 0;
}

#navigation ul {
    padding: 0;
}

#navigation ul li {
    padding: 0 5px;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    display: inline;
}

#navigation ul li a{
    font-size: 12px;
    font-style: normal;
    color: black;
    text-decoration: none;
}

#navigation ul li a:hover{
    font-style: italic;
    color: white;
}

#navigation #scroll {
    font-size: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50px;
}


/* ALL CARDS */
.cards {
    position: absolute;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 249, 222, .98);
    box-shadow: 10px 10px black;
    z-index: 200;
}

.cards h3 {
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 3px 3px whitesmoke;
}

.cards ul {
    padding: 0;
}

.cards li {
    list-style: none;
    display: inline;
    padding: 0 7px;
}

.cards li a {
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.cards li a:hover {
    color: white;
    font-style: italic;
}

/* INDIVIDUAL CARDS */
#card-about {
    position: absolute;
    width: 50%;
    height: auto;
    left: 25%;
    top: 1000px;
    padding: 25px;
    z-index: 500;
}

#card-about #photo-jess{
    max-width: 25%;
    border: 6px solid black;
    border-radius: 50%;
}

#card-about #photo-jess:hover {
    cursor: url(../images/cursor-hi.png), pointer;
}

#card-about p {
    text-align: justify;
}

#card-one {
    top: 1500px;
    left: 13%;
}

/* INDIVIDUAL WORK PAGES */
#indv-nav {
    border: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: right;
    background-color: black;
    z-index: 500;
}

#indv-nav ul {
    padding: 0 25px 0 0;
    margin: 5px;
}

#indv-nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline;
    padding: 0 10px;
    list-style: none;
}

#indv-nav ul li a {
    color: white;
    text-decoration: none;
}

#indv-nav ul li a:hover{
    font-style: italic;
}

#indv-work {
    position: absolute;
    width: 80%;
    height: 500%;
    top: 5%;
    left: 10%;
    text-align: center;
    z-index: 100;
}

#indv-work h2 {
    font-size: 75px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 6px 6px whitesmoke;
    letter-spacing: 3px;
}

#indv-work #indv-text {
    width: 60%;
    margin: auto;
    text-align: justify;
}